:root {
    --title-outer-border: 1px solid black;
    --title-inner-border: 3px solid black;
    --thin-border: 1px solid black;
}

body, html {
    width: 100%;
    min-height: 100%;
}

div, p, h1, h2 {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    border-left: var(--thin-border);
    border-right: var(--thin-border);
    margin: 0 auto;
    padding: 15px;
    width: 60%;
}

header {
    margin-top: 0;
}

header .title-border {
    border-top: var(--title-outer-border);
    border-bottom: var(--title-outer-border);
    padding: 3px 0;
    margin-bottom: 10px;
}

header .title-border h1 {
    border-top: var(--title-inner-border);
    border-bottom: var(--title-inner-border);
    margin: 0;
    padding: 10px;
    font-size: 4em;
    text-align: center;
}

header .person-details {
    border-bottom: var(--thin-border);
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

header .person-details .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}

header .person-details .flex:first-child {
    border-right: var(--thin-border);
    margin-right: 15px;
}

.flex .key-col {
    flex: 25%;
}
.flex .val-col {
    flex: 75%;
}

h2, p {
    margin-bottom: 15px;
}

h3.list-title {
    margin-bottom: 0px;
}

ul {
    margin-top: 0;
}